 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                {{!-- <h5 class="white-text">Footer Content</h5> --}}
                <p class="grey-text text-lighten-4">This Website is created for those who value gut health and the overall health benefit for having a healthy daily habit.</p>
                <p>It is powered up by Node, Express, and Handlebars. All artworks are credited to original owner and we do not own any copyright for the artwork</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Meet the Team</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Ankit Baraskar</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Daniel Chi</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Sabrina Li</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">William Segars</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © Copyright
            </div>
          </div>
        </footer>