<footer class="page-footer">
  <div class="row">
    <div class="col l7 m7 offset-l1 offset-m1 s12">
      <p>This Website is created for those who value gut health and the overall health
        benefit for having a healthy daily habit.</p>
      <p>Powered up by Node, Express, and Handlebars. </p>
      <p>All artworks are credited to original owner and we do not own any copyright for the artwork</p>
    </div>
    <div class="col l3 m3 offset-l1 offset-m1 s12">
      <h5 class="white-text">Meet the Team</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="https://github.com/ankitbaraskar">Ankit Baraskar</a></li>
        <li><a class="grey-text text-lighten-3" href="https://github.com/Daniel-Chi">Daniel Chi</a></li>
        <li><a class="grey-text text-lighten-3" href="https://sabrina-li.github.io/Responsive-Portfolio/">Sabrina Li</a></li>
        <li><a class="grey-text text-lighten-3" href="https://github.com/wtsegars">William Segars</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © Copyright
    </div>
  </div>
</footer>