<header>
	<div class="container">
		<img id="logo" src="/images/logo.jpg">
		<a class="headerText" href="/">Welcome</a>

		{{#if loggedIn}}
		<div class="fixed-action-btn">
			<a class="btn-floating btn-large">
				<i class="large fas fa-bars"></i>
			</a>
			<ul>
				<li>
					<a href="/logout" class="btn-floating red">
						<i class="fas fa-sign-out-alt"></i>
					</a>
				</li>
				<li>
					<div id="waterAddBtn" data-target="modalWater" class="btn-floating blue">
						<i class="fas fa-tint" data-target="modalWater"></i>
					</div>
				</li>
				<li>
					<div id="foodAddBtn" data-target="modalFood" class="btn-floating orange">
						<i class="fas fa-hamburger" data-target="modalFood"></i>
					</div>
				</li>
				<li>
					<div id="stoolAddBtn" data-target="modalStool" class="btn-floating brown">
						<i class="fas fa-poo" data-target="modalStool"></i>
					</div>
				</li>
			</ul>
		</div>
		{{else}}
		<a class="headerText waves-effect loginoutBtn" href="/login">Login</a>
		{{/if}}
	</div>
</header>