<header>
	<div class="container">
		<img id="logo" src="/images/logo.jpg">
		<a class="headerText" href="/">welcome</a>
        <a class="headerText waves-effect loginoutBtn" href="/{{loginout}}">{{loginout}}</a>
	</div>
</header>