<header>
	<div class="container">
		<img id="logo" src="/images/logo.jpg">
		<h5 id="title">Project No.2</h5>
        <a class="waves-effect waves-light loginoutBtn" href="/{{loginout}}">{{loginout}}</a>
	</div>
</header>