<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/add_2.css">

</head>

<body>
    <header>
        <div class="container">
            <img id="logo" src="/images/logo.jpg">
            <h3 id="title">Project No.2</h3>
        </div>

    </header>

    <main>
        <div class="container">
            <div id="chart-row" class="z-depth-3 row">
                <div id="chart-col" class="col s8">
                    <canvas id="poopChart" width="100" height="100"></canvas>
                </div>
            </div>
            <div class="add-button">
                <div id="waterAddBtn" class="sub-button tl" data-target="modalWater"><i class="fas fa-tint "
                        data-target="modalWater"></i></div>
                <div id="stoolAddBtn" class="sub-button tr" data-target="modalStool"><i class="fas fa-poo "
                        data-target="modalStool"></i></div>
                <!-- <div class="sub-button bl">c</div> -->
                <!-- <div class="sub-button br">d</div> -->
            </div>

            <!-- Modal Structure -->
            <div id="modalWater" class="modal">
                <div class="modal-content">
                    <h4>Add Water</h4>
                    <form action="/api/" method="get">
                        <div class="row">
                            <div class="input-field col s12">
                                
                                <input id="waterInput" type="text" class="validate" required="" aria-required="true">
                                <label for="waterInput">Water Intake(ml)</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s5">
                                <input id="waterDatePicker" type="text" class="datepicker">
                                <label for="waterDatePicker">Choose Date</label>
                            </div>
                            <div class="input-field col s4">
                                <select>
                                    <option value="" disabled selected>Choose Hour</option>
                                    <option value="12">12 AM</option>
                                    <option value="1">01 AM</option>
                                    <option value="2">02 AM</option>
                                    <option value="3">03 AM</option>
                                    <option value="4">04 AM</option>
                                    <option value="5">05 AM</option>
                                    <option value="6">06 AM</option>
                                    <option value="7">07 AM</option>
                                    <option value="8">08 AM</option>
                                    <option value="9">09 AM</option>
                                    <option value="10">10 AM</option>
                                    <option value="11">11 AM</option>
                                </select>
                                <label>Time</label>
                            </div>
                            <div class="input-field col s3">
                                    <select>
                                            <option value="1">AM</option>
                                            <option value="2">PM</option>
                                        </select>
                                    <label>AM</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="btn modal-close waves-effect waves-green">Submit</a>
                </div>
            </div>

            <div id="modalStool" class="modal">
                <div class="modal-content">
                    <h4>Modal Stool</h4>
                    <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>

        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/dummy_data.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/data.js"></script>
</body>

</html>