    <main>
        <div class="row container z-depth-3 login-div">
            <h4 id="signup-header">Welcome! Let's get you signed up!</h4>
        
            <form class="col s12"  method="POST">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="username" id="username" type="text" class="validate" required="" aria-required="true">
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="password" id="password" type="password" class="validate" required="" aria-required="true">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button id="loginBtn" class="waves-effect waves-light btn" type="submit" formaction="/login">Login</button>
                        <button id="signupBtn" class="waves-effect waves-light btn" type="submit" formaction="/signup">SignUp</button>
                    </div>

                    {{#if errorMessage}}
                        <div class="error">{{errorMessage}}</div>
                    {{/if}}
                    
                </div>
            </form>
        </div>
    </main>

<script src="js/index.js"></script>