.add-button {
    position: absolute;
    right: 200px;
    top: 100px;
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 52px;
    font-size: 30px;
    color: rgba(255,255,255,1);

    -webkit-transition: transform .2s cubic-bezier(.58,-0.37,.45,1.46),
        color 0s ease .2s,font-size .2s;
    -moz-transition: transform .2s cubic-bezier(.58,-0.37,.45,1.46),
        color 0s ease .2s,font-size .2s;
    transition: transform .2s cubic-bezier(.58,-0.37,.45,1.46),
        color 0s ease .2s,font-size .2s; 
}

.add-button:before {
    position: relative;
    z-index: 1;
    content:"+";
}

.add-button:hover {
    color: rgba(255,255,255,0);
    transform: rotate(45deg);
}

.sub-button {
    position: absolute;
    display: inline-block;
    background-color:#795548;
    color: rgba(255,255,255,0);
    width: 28px;
    height: 28px;
    line-height:52px;
    
    -webkit-transition: top .1s cubic-bezier(.58,-0.37,.45,1.46) .1s,
        left .1s cubic-bezier(.58,-0.37,.45,1.46) .1s,
        bottom .1s cubic-bezier(.58,-0.37,.45,1.46) .1s,
        right .1s cubic-bezier(.58,-0.37,.45,1.46) .1s,
        width .1s cubic-bezier(.58,-0.37,.45,1.46) .1s,
        height .1s cubic-bezier(.58,-0.37,.45,1.46) .1s,
        transform .05s ease 0s,
        border-radius .1s  ease .1s;
    -moz-transition: top .1s cubic-bezier(.58,-0.37,.45,1.46) .1s,
        left .1s cubic-bezier(.58,-0.37,.45,1.46) .1s,
        bottom .1s cubic-bezier(.58,-0.37,.45,1.46) .1s,
        right .1s cubic-bezier(.58,-0.37,.45,1.46) .1s,
        width .1s cubic-bezier(.58,-0.37,.45,1.46) .1s,
        height .1s cubic-bezier(.58,-0.37,.45,1.46) .1s,
        transform .05s ease 0s,
        border-radius .1s  ease .1s;
    transition: top .1s cubic-bezier(.58,-0.37,.45,1.46) .1s,
        left .1s cubic-bezier(.58,-0.37,.45,1.46) .1s,
        bottom .1s cubic-bezier(.58,-0.37,.45,1.46) .1s,
        right .1s cubic-bezier(.58,-0.37,.45,1.46) .1s,
        width .1s cubic-bezier(.58,-0.37,.45,1.46) .1s,
        height .1s cubic-bezier(.58,-0.37,.45,1.46) .1s,
        transform .05s ease 0s,
        border-radius .1s  ease .1s;
}

.tl {
    top: 0;
    left: 0;
    border-radius: 28px 0 0 0;
}

.tr {  
    top: 0;
    right: 0;
    border-radius: 0 28px 0 0;
}

.bl {
    bottom: 0;
    left: 0; 
    border-radius: 0 0 0 28px;
}

.br { 
    bottom: 0;
    right: 0;
    border-radius: 0 0 28px 0;
}


.add-button:hover .sub-button {
    width: 56px;
    height: 56px;
    transform: rotate(-45deg);
    color: rgba(255,255,255,1);

    -webkit-transition: top .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
        left .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
        bottom .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
        right .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
        width .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
        height .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
        color .15s ease .4s,
        transform .15s ease .4s,
        border-radius .2s  ease .3s;
    -moz-transition: top .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
        left .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
        bottom .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
        right .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
        width .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
        height .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
        color .15s ease .4s,
        transform .15s ease .4s,
        border-radius .2s  ease .3s;
    transition: top .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
        left .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
        bottom .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
        right .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
        width .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
        height .2s cubic-bezier(.58,-0.37,.45,1.46) .2s,
        color .15s ease .4s,
        transform .15s ease .4s,
        border-radius .2s  ease .3s;
}

.add-button:hover .tl {
    top: -30px;
    left: -30px;
    border-radius: 28px;
}

.add-button:hover .tr {  
    top: -30px;
    right: -30px;
    border-radius: 28px;
}

.add-button:hover .bl {
    bottom: -30px;
    left: -30px; 
    border-radius: 28px;
}

.add-button:hover .br { 
    bottom: -30px;
    right: -30px;
    border-radius: 28px;
}


