#logo{
  width: 60px;
  height: auto;
  display: inline-block;
  transform:  translateY(8px);
}
#title{
  display: inline-block;
}

header{
  border-bottom: 1px solid #795548;
}

#signup-header{
  text-align: center;
}

main{
  padding-top: 30px;
  height: 100%;
}

.login-div{
  padding: 10px;
}

#chart-row{
  height: 60vh;
}
#chart-col{
  height: 100%;
  width: 100%;
}

#modalWater{
  height: 120%;
  overflow: scroll;
}