html,body{
  height: 100%;
  width: 100%;
}
.container{
  position: relative;
}
#logo{
  width: 100px;
  height: auto;
  display: block;
  margin: auto;
  margin-right: auto;
  transform:  translateY(20px);
}
#title{
  position: absolute;
  top: 10px;
}
.loginoutBtn{
  position: absolute;
  top: 10px;
  right: 0;
  margin: 1.0933333333rem 0 .656rem 0;
}

header{
  border-bottom: 1px solid #795548;
}

#signup-header{
  text-align: center;
}

main{
  padding-top: 30px;
  height: 100%;
}

.login-div{
  padding: 10px;
}

#chart-row{
  height: 60vh;
}
#chart-col{
  height: 100%;
  width: 100%;
}

#modalWater,#modalStool{
  height: 120%;
  /* overflow: scroll; */
}

.datepicker-modal {
  width: 100%;
}

.error{
  color: red;
}

.image-container {
  width: 100%;
  height: 90%;
  background-image: url("../images/colorful_snack_board.jpg"); /* The image used - important! */
  background-size: cover; 
  overflow: hidden;
  /* position: relative; Needed to position the cutout text in the middle of the image */
}

.text {
  background-color: white;
  color: black;
  font-size: 10vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 50%;
  text-align: center; /* Center text */
  /* position: relative; Position text */
  /* top: 50%; Position text in the middle */
  /* left: 50%; Position text in the middle */
  /* transform: translate(-50%, -50%); Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
}